{% extends 'cbvApp/base.html' %}


{% block body_content %}

    
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h4 class="title">Transaction <span>Detail</span></h4>
                            </div>
                            <div class="col-sm-9 col-xs-12 text-right">
                                <div class="btn_group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>name</th>
                                    <th>position</th>
                                    <th>enter</th>
                                    <th>Percentage</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>delete</th>
                                    <th>update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><dt>{{student.firstName}}</dt></td>
                                    <td><dt>{{student.lastName}}</dt></td>
                                    <td><dt>{{student.enter}}</dt></td>
                                    <td><dt>{{student.testScore}} % </dt></td>
                                    <td><dt>{{student.Amount | floatformat:2}} $ </dt></td>
                                    <td><dt>{{student.date}}</dt></td>
                                    <td>
                                        <a class="text-white" href="/delete/{{student.id}}" data-tip="delete"><i class="fa fa-trash text-danger"></i></a>
                                    </td>
                                    <td>
                                        <a class="text-white" href="/update/{{student.id}}" data-tip="edit"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}
